.first-row{
  height: 15vh;
}
.second-row{
  height: 60vh; 
}
.third-row{
  height: 15vh;
}
.fourth-row{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 7px solid black;
  border-top: none;
  background-color: lightgoldenrodyellow;
}

.function{
  border: 7px solid black;
  border-bottom: none;
  background-color: powderblue;
}

.mousepad{
  border: 7px solid black;
  padding-right: 0;
  padding-left: 0;
  background-color: lightgray;
}

.scroll{
  border: 7px solid black;
  border-left: none;
  display: flex;
  flex-direction: column;
  background-color: powderblue;
  justify-content: space-around;
  align-items: center;
}

.cl{
  border: 7px solid black;
  border-top: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px; font-weight:bold; text-align:center;
  background-color: lightpink;
}  
.cr{
  border: 7px solid black;
  border-top: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px; font-weight:bold; text-align:center;
  background-color: lightpink;
}
.vertical-divider{
  width: 7px;
  background-color: black;
}